/* You can add global styles to this file, and also import other style files */
#hero {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;

}

/* background image and applying some fliter to it */
#hero ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/back.jpg");
    /* filter: drop-shadow(2px 4px 6px black); */
    /* Adjust the grayscale value as needed */
    z-index: -1;
}

.linksimages {
    /* padding-top: 15%; */
    display: flex;
    justify-content: center;
    align-items: end;
    /* padding-bottom: 10%; */
    height: 99vh;
    width: 100%;
}

img {
    width: -webkit-fill-available;
}

.dachieve {
    width: 15%;
    /* padding-left: 10%; */
    position: relative;
}

.dwork {
    position: relative;
    width: 10%;
}

.dlinks {
    width: 7%;
}


.imagehover:hover {
    transform: rotate(5deg);
    animation: wobble 0.1s ease-in-out infinite alternate;
}

@keyframes wobble {
    0% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-2deg);
    }
}

audio {
    width: 18%;
    float: left;
}

audio::-webkit-media-controls-panel {
    background-color: #b5f05082;
}

audio::-webkit-media-controls-volume-slider {
    background-color: #acf617;
}


a[data]:hover:after {
    content: attr(data);
    padding: 4px 8px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(134, 84, 23);
    position: absolute;
    left: 0;
    top: 10%;
    /* white-space: ; */
    z-index: 2;
    border-radius: 5px;
    background: rgba(156, 230, 127, 0.283);
}

#contactme[data]:hover:after {
    content: attr(data);
    padding: 0px;
    font-size: 20px;
    color: rgba(99, 82, 226, 0.984);
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    z-index: 2;
    border-radius: 5px;
    background: rgba(234, 222, 164, 0.623);
}

@media screen and (max-width: 768px) {

    .dachieve {
        width: 30%
    }

    .dwork {
        width: 25%;
    }

    .dlinks {
        width: 15%;
    }

    .linksimages {
        padding-bottom: 50%;
        height: 65vh;
    }

    audio {
        width: 50%;
        float: left;
    }

    audio::-webkit-media-controls-panel {
        width: 100%;
        /* Set the controls panel width */
    }
}