
<section id="hero">
    <div class="linksimages"> 
    <audio controls >
        <source src="/assets/spotifydown.com - Bleue.mp3">
        Your browser does not support the audio tag.
      </audio> 
    <div class="dachieve">
        <a data="About Me" (click)="gachieve()">
            <img class="imagehover" src="/assets/one.png" >
        </a>
    </div>
    <div class="dwork"> 
        <a id="contactme" data="Contact Me" (click)="glinks()">
            <img   class="imagehover"  src="/assets/two.png">
        </a>
    </div>
    <div class="dlinks">
        <a href="https://youtu.be/dQw4w9WgXcQ">
            <img   class="imagehover"  src="/assets/three.png">
        </a>
    </div>   
 
</div>
</section>
