<!-- /acheievemts -->
<section id="aboutme">
    <div class="aboutmediv">
        <div class="headingab">
      <h1 id="about">About</h1>
      <h2 id="me">Me</h2>
    </div>
    <div class="aboutmep">
        <p>I am a computer programmer student studying at georgian college. I like to code stuff in particular front end and api's.</p>
        <p>Some fo my skills include Angular, Html, Css, Jquery, Python, C#, Adobe Photoshop, Aws</p>    
    </div>
    </div>
</section>
<hr class="spearator">
<section id="mywork">
<div class="maindiv">
    <h2 id="thingsh2">Things I made</h2>
<div class="gdiv">
<h3>Websites With Api's</h3>
<div class="gdiv gwebsite">
<iframe class="website" src="http://arjangillsounds.com/"></iframe>
<br>
<iframe class="website" src="http://api.arjangillsounds.com/"></iframe>
</div>
</div>
<div class="gdiv ">
<h3>Tinkercad</h3>
<iframe id="tinkercad" width="725" height="453" src="https://www.tinkercad.com/embed/5cvDLQshRy0?editbtn=1" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
<div class="gdiv ">
<h3>C# monopoly game</h3>
<iframe  id="cgame" src="/assets/Program.cs"></iframe>
</div>
</div>
</section>
<hr class="spearator">
<section id="links">
    <div class="maindiv">
        <h2 id="thingsh2">Links to my Work</h2>
  
  
   <div class="gdiv gwebsite" style="width:100%">
   <a href="https://github.com/gursimrangillnotinsane" target=”_blank”><i class="bi bi-github"></i>Github </a>
   <a href="http://arjangillsounds.com " target=”_blank”><i class="bi bi-browser-chrome"></i>Arjan Gill Sounds Website </a>
   <a href="http://api.arjangillsounds.com/" target=”_blank”><i class="bi bi-browser-chrome"></i>Record Website </a>
   
</div>
</div>
</section>