
<section id="contact">
    <img id="background" src="https://i.pinimg.com/originals/f5/f2/74/f5f27448c036af645c27467c789ad759.gif" alt="GIF Background">
    <div class="mainab">
        <div class="hcontact">
<h2 id="some">Some</h2>
<h2 id="ways">ways</h2>
<h2 id="to">to</h2>
<h2 id="contacth">contact</h2>
<h2 id="me">me</h2>
</div>
<div class="links">
    <p><b>Instagram: </b>
<a href="https://www.instagram.com/gursimran.z/" target="_blank"><i class="bi bi-instagram"></i>gursimran.z</a>
</p>
<p> <b></b>Gmail <br>
    <b>Personal:</b> <a href="mailto:gillsimranjot91@gmail.com"><i class="bi bi-envelope"></i>gillsimranjot91&#64;gmail.com</a> <br> 
        <b>School: </b><a href="mailto:200562502@student.georgianc.on.ca"><i class="bi bi-envelope"></i>200562502&#64;student.georgianc.on.ca</a>
</p>

<p><b>Phone: </b><a href="tel:(705)984-0091"><i class="bi bi-telephone"></i>(705)984-0091</a></p>
</div>
</div>


</section>